img{
    width: auto;
    height: 300px;
}
p{
    margin: 0;
    padding: 0;
    color: white;
}
#card{
    transition: transform 0.5s linear;
    -webkit-transition: transform 0.5s linear;
    -moz-transition: transform 0.5s linear;
    -ms-transition: transform 0.5s linear;
    -o-transition: transform 0.5s linear;
}
#card:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    background-color: black;
}
@media (min-width:572px) {
  #card:active {
    transform: scale(1.8) translate(-28%, -28%);
    position: fixed;
    top: 50%;
    left: 50%;
    transform-origin: center;
    z-index: 1;
    -webkit-transform: scale(1.8) translate(-28%, -28%);
    -moz-transform: scale(1.8) translate(-28%, -28%);
    -ms-transform: scale(1.8) translate(-28%, -28%);
    -o-transform: scale(1.8) translate(-28%, -28%);
}
  }
